body {
  max-width: 100%;
  min-height: 100%;
  background-color: #F3F5FC;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  width: 100%;
  height: 100%;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #d0cdd8;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.reconheceVoz {
  /* border: 1px solid red; */
  width: 45%;
  margin: 2em;
}

.traduzTexto {
  /* border: 1px solid red; */
  width: 45%;
  margin: 2em;
}

#textareaFrom {
  width: 100%;
}

#textareaTo {
  width: 100%;
}




@media(max-width: 700px) {
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}